<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/jdbc 
                        http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd 
                        http://www.springframework.org/schema/task
     					http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.zpwq" />

	<bean id="config"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:H2.properties</value>
		</property>
	</bean>
	
	<!-- 定时任务 -->
	<task:executor id="executor" pool-size="5" />  
	<task:scheduler id="scheduler" pool-size="10" />  
	<task:annotation-driven executor="executor" scheduler="scheduler" />

	
	<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.client.url}" />
		<property name="username" value="${db.user}" />
		<property name="password" value="${db.password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${db.initialSize}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${db.maxActive}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${db.maxIdle}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${db.minIdle}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${db.maxWait}"></property>
	</bean>

	<!--初始化必要的数据 -->
	<jdbc:initialize-database data-source="dbcp"
		ignore-failures="ALL">
		<jdbc:script location="classpath:sql/createTables.sql"
			encoding="utf-8" />
		<jdbc:script location="classpath:sql/loadData.sql"
			encoding="utf-8" />
	</jdbc:initialize-database>

	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dbcp" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:com/zpwq/dao/*.xml"></property>
	</bean>
	<!-- 创建SqlSessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<context:component-scan base-package="com.zdkj.limp.controller"></context:component-scan>
	<mvc:annotation-driven />
	<!-- -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/user/*" />
			<bean id="sessionFilter" class="com.zpwq.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="maxInMemorySize" value="10240000"></property>
	</bean>

	<bean id="bodyController" class="com.zpwq.controller.BodyController">
		<property name="filePath" value="c:/data/" />
	</bean>


</beans>
